:host {
  display: block;
  width: 100%;
  min-height: 800px;
}

.chart-container {
  width: 100%;
  height: 800px;
  display: block;
}

.chart {
  width: 100% !important;
  height: 100% !important;
  display: block;
}