<div *ngIf="scenarios && scenarios.length">
  <div *ngFor="let s of scenarios; let i = index">
    <h3 style="margin:8px 0">{{s.scenario}}</h3>
        <table aria-label="Monthly spending table">
      <thead>
          <tr>
          <th style="text-align:left">Month</th>
          <th style="text-align:right">Upfront payment</th>
          <th style="text-align:right">Monthly payment</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="firstFullYear">
            <tr *ngFor="let mk of monthKeysForScenario(s.scenario)">
              <td>{{mk}}</td>
              <!-- Upfront payment comes from 'Savings Upfront' group (riCost + renewalCost) -->
              <td style="text-align:right">{{(((aggregatesByScenario[s.scenario][mk]?.['Savings Upfront']?.riCost || 0) + (aggregatesByScenario[s.scenario][mk]?.['Savings Upfront']?.renewalCost || 0))) | number:'1.2-2'}}</td>
              <!-- Monthly payment comes from 'Savings Monthly' group (riCost + renewalCost) -->
              <td style="text-align:right">{{(((aggregatesByScenario[s.scenario][mk]?.['Savings Monthly']?.riCost || 0) + (aggregatesByScenario[s.scenario][mk]?.['Savings Monthly']?.renewalCost || 0))) | number:'1.2-2'}}</td>
              <!-- Total and Savings columns removed as requested -->
            </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
