<div class="migration-rec">
  <div class="section-header">
    <h4>Migration Recommendations</h4>
  </div>

  <div *ngIf="loading">Loading recommendations...</div>

    <div *ngIf="!loading && recommendations.length > 0" class="migration-table ag-theme-alpine grid-wrapper">
      <ag-grid-angular
        class="ag-theme-alpine"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [rowData]="rowData"
        [pinnedTopRowData]="pinnedTopRowData"
        [getRowClass]="getRowClass"
        [animateRows]="true">
      </ag-grid-angular>
    </div>

  <div *ngIf="!loading && recommendations.length === 0">No migration recommendations available.</div>
</div>
